header{
    height: 64px;
    background-color: #f5e1ce;
    /* overflow: hidden; */
}

#logo-container{
    display: flex;
    width: 50%;
}
.logo{
    padding: 0px;
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

nav ul{
    float: right;
    margin-right: 20px;
    padding: 20px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 10px;
    color: black;
    text-transform: uppercase !important;
    text-decoration: underline !important;
    cursor: pointer;
    
}

.agro {
    display: block;
    margin: 0 auto;
}
/* .splash{
    background: url(../images/moon-background.jpg) center center fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.splash h1{
    background-color: black;
    color: aliceblue;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
} */

.texto{
    margin-top: 40vh;
}

.centrado{
    text-align: center;
}

.espacios{
    padding-top: 50px;
    padding-bottom: 50px;
}

.splash .btn{
    background-color: #8BC34A;
    color: aliceblue;
}

#profile-pic-container{
    margin-bottom: 3%;
}

#profile-pic{
    width: 30%;
}

.card{
    background-color: #F9F9F9;
}

.content{
    padding: 10px;
}

#titulo-tablero{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pic{
    display: flex;
    justify-content: center;
}

.pico{
    width: 70%;
    height: 45%;
}

.card{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14)!important;
}

.card .btn{
    float: right;
    margin-right: 10px;
}

#trabajos-realizados{
    background-color: #f1f8ff;
}

#letritas i{
    color:#7C4DFF;
}

.btn-primary{
    color: black;
    background-color: #f5e1ce;
    border-color: #f5e1ce;
}

/* .pintadito{
    background-color: #999;
    padding: 2px;
    font-size: 30px;
    color: white;
} */

.frases i{
    font-size: 100px;
}

.frases h2{
    padding: 15px;
}

.d-block{
    height: 250px;
}

#espacio-final{
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
}

.upso{
    width: 100%;
    height: 60%;
}