body{
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #202124;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #bdc1c6;
}

main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

#chocolate-menu{
    position: fixed;
    padding: 1%;
    width: 200px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    right: 5%;
    top: 70px;
    border-radius: 10px;
    box-shadow: 0px 4px 5px black;
    background-color: #303134;
    display: none;
}

#chocolate-menu img{
    width: 46px;
    height: 46px;
}
header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 60px;
}

#textoHeader{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 140px;
}

#textoHeader a{
    text-decoration: none;
    color: white;
    font:13px/27px Roboto,Arial,sans-serif;
}

a:hover{
    text-decoration: underline !important;
}

#imagenesHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90px;
    margin-right: 1%;
}

#showAppButton{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#profilePhoto{
    width: 32px;
    height: 32px;
}

#logo{
    display: flex;
    justify-content: center;
    height: 92px;
}

#form{
    height: 290px;
    /* max-height: 160px; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    flex-wrap: nowrap;
}

#imagen-lupa img{
    width: 16px;
    height: 16px;
    margin: 10px;
}

#imagenes-mic-cam{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#imagenes-mic-cam img{
    height: 23px;
    width: 23px;
    margin: 6px;
}

#conteiner-buscador{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items:flex-start;
    width: 100%;
    max-width: 584px;
    border-radius: 24px;
    border: 1px solid #5f6368;
}

#conteiner-buscador :hover{
    background-color: #303134;
    
}

#buscador{
    padding-top: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    width: 100%;
    max-width: 584px;
    height: 44px;
    border-radius: 24px;
    /* border: 1px solid #5f6368; */
}

#botones-buscador{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
}

#botones-buscador button{
    margin: 5px;
    background-color: #303134;
    border: 1px solid #303134;
    border-style: solid;
    color: white;
    height: 36px;
    width: 153px;
    min-width: 54px;
    cursor: pointer;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#botones-buscador :hover{
    border: 1px solid #3c4043;
}

input{
    width: 70%;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    border: 0px;
    border-style: none;
    color: white;
}

#texto-copyright p a{
    text-decoration:none
}

footer{
    width: 100%;
    height: 94px;
    color: #9aa0a6;
    margin-top: 40px;
    background-color: #171717
}

#links-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    text-decoration: none;
    background-color: #171717;
}

#links-footer a{
    text-decoration: none;
    color: #9aa0a6;
    margin: 0;
    padding: 0 18px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#pais{
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
    }

#pais p{
    margin: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#links-footer-1, #links-footer-2{
    height: 47px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
}

.agregadojs{
    background-color: #303134;
    /* padding: 10px; */
}

#busquedas{
    display: none;
    width: 80%;
    margin-left: 4%;
}
#busquedas p{
    width: 70%;
    margin: 0px;
    padding: 5px;
}

#busquedas img{
    width: 16px;
    height: 16px;
    margin-right: 10%;
}

@media screen and (max-width: 950px){
    #links-footer{
        display: flex;
        justify-content: center;
    }
}
