body{
    margin: 0;
    width: 100%;
    min-height: 96vh;
    background-color: #83c59c;
}

p{
    color: #EDF5E1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header{
    margin-top: 15px ;
}

header p{
    text-align: center;
}
nav{
    display: flex;
    justify-content: center ;
}

section{
    margin: 0 auto;
    width: 70%;
    min-height: 46vh;
}

section p{
    text-align: justify;
}

section ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
section ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05386b;
    margin: 7px;
    width: 200px;
    height: 45px;
    box-shadow: -7px 9px 7px black;
    border: 3px solid black;
}

li a{
    text-decoration: none;
    color: #EDF5E1;
}

footer p{
    text-align: center;
    vertical-align: middle;
}

hr{
    width: 70%;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.personal-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 150px;
    height: 150px;
}
.icon{
    margin: 2px;
    width: 35px;
    height: 35px;
}


