body{
    margin: 0;
    width: 100%;
    min-height: 96vh;
    background-color: #83c59c;
}

p{
    color: #EDF5E1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
header{
    margin-top: 15px ;
}

nav{
    display: flex;
    justify-content: center ;
}

section{
    margin-left:auto;
    margin-right: auto;
    width: 70%;
    min-height: 46vh;
}

section p{
    text-align: justify;
    max-width: 360px;
    margin-left:auto;
    margin-right: auto;
}

section ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
section ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #104880;
    margin: 6px;
    width: 165px;
    height: 40px;
    box-shadow: -7px 9px 7px black;
    border: 3px solid black;
}

li a{
    text-decoration: none;
    color: #EDF5E1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

footer p{
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

hr{
    width: 70%;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.personal-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 140px;
    height: 140px;
}
.icon{
    margin: 2px;
    width: 30px;
    height: 30px;
}


